<div class="clients container col-12">
  <div>
    <article class="clients-titles row">
      <section class="clients-title col-4">Company Name</section>
      <section class="clients-title col-4">Type</section>
      <section class="clients-title col-4">Actions</section>
    </article>

    <article class="clients-items row" *ngFor="let client of clients">
      <section class="clients-item col-4">{{client.name}}</section>
      <section class="clients-item col-4">{{client.clientType}}</section>
      <section class="clients-item col-2">
        <a class="clients-link" routerLink="/clients/details/{{client.id}}">Detail</a>
      </section>
      <section class="clients-item col-2">
        <a class="clients-link" routerLink="/clients/edit/{{client.id}}">Edit</a>
      </section>
    </article>
  </div>

</div>
