<div class="container col-12">
  <table class="table table-striped paintTable">
    <thead class="paintTable-header">
      <tr class="paintTable-titles row">
        <th class="paintTable-title col-4">Company Name</th>
        <th class="paintTable-title col-4">Type</th>
        <th class="paintTable-title col-4">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="paintTable-items row" *ngFor="let client of clients">
        <td class="paintTable-item col-4">{{client.name}}</td>
        <td class="paintTable-item col-4">{{client.clientType}}</td>
        <td class="paintTable-item col-2">
          <a class="paintTable-link" routerLink="/clients/details/{{client.id}}">Detail</a>
        </td>
        <td class="paintTable-item col-2">
          <a class="" routerLink="/clients/edit/{{client.id}}">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
