<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Paint.SPA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink='home' routerLinkActive="active" (click)="isActive = true">Home</a>
          </li>
          <li *ngIf='IsAuthenticated' class="nav-item active">
            <a class="nav-link" routerLink='clients' routerLinkActive="active" (click)="isActive = true">Clients</a>
          </li>

          <li *ngIf='IsAuthenticated' class="nav-item active">
            <a class="nav-link" routerLink='bids' routerLinkActive="active" (click)="isActive = true">Bids</a>
          </li>

          <li *ngIf='!IsAuthenticated' class="nav-item">
            <a class="nav-link text-dark" (click)="login()">Login</a>
          </li>

          <li *ngIf='IsAuthenticated' class="nav-item">
            <span class="navbar-text text-dark">Hello {{userName}}</span>
          </li>

          <li *ngIf='IsAuthenticated' class="nav-item">
            <a class="nav-link text-dark" routerLinkActive="active" (click)="logout();isActive = true">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
