<div id="app" class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Paint.SPA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNavDropdown" class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink='home' routerLinkActive="active" (click)="isActive = true">Home</a>
        </li>
        <li *ngIf='IsAuthenticated' class="nav-item active">
          <a class="nav-link" routerLink='clients' routerLinkActive="active" (click)="isActive = true">Clients</a>
        </li>

        <li *ngIf='IsAuthenticated' class="nav-item active">
          <a class="nav-link" routerLink='bids' routerLinkActive="active" (click)="isActive = true">Bids</a>
        </li>

      </ul>
      <ul class="navbar-nav">
        <li *ngIf='!IsAuthenticated' class="nav-item">
          <a class="nav-link text-dark" (click)="login()">Login</a>
        </li>

        <li *ngIf='IsAuthenticated' class="nav-item">
          <span class="navbar-text text-dark">Hello {{userName}}</span>
        </li>

        <li *ngIf='IsAuthenticated' class="nav-item">
          <a class="nav-link text-dark" routerLinkActive="active" (click)="logout();isActive = true">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
