<div *ngIf="data" class="container col-12">
  <table class="table table-striped paintTable">
    <thead class="paintTable-header">
      <tr class="paintTable-titles row">
        <th *ngIf="!clientId" class="paintTable-title col-3" scope="col" sortable="name" (sort)="onSort($event)" >Project Manager</th>
        <th class="paintTable-title col-3" scope="col" sortable="address" (sort)="onSort($event)">Address</th>
        <th class="paintTable-title col-2" scope="col" sortable="city" (sort)="onSort($event)">City</th>
        <th class="paintTable-title col-1">State</th>
        <th class="paintTable-title col-1">zip</th>
        <th class="paintTable-title col-2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="paintTable-items row" *ngFor="let job of data?.results">
        <td *ngIf="!clientId" class="paintTable-item col-3">{{job.projectManager}}</td>
        <th class="paintTable-item col-3">{{job.address.line1}}</th>
        <th class="paintTable-item col-2">{{job.address.city}}</th>
        <th class="paintTable-item col-1">{{job.address.state}}</th>
        <th class="paintTable-item col-1">{{job.address.zip}}</th>
        <th class="paintTable-item col-1">
          <a class="paintTable-link" routerLink="/jobs/details/{{job.id}}">Detail</a>
        </th>
        <th class="paintTable-item col-1">
          <a class="paintTable-link" routerLink="/jobs/edit/{{job.id}}">Edit</a>
        </th>
      </tr>
    </tbody>
  </table>
  <ngb-pagination [(page)]="data.currentPage" [pageSize]="data?.pageSize" [collectionSize]="data?.rowCount"
    [maxSize]="5" [boundaryLinks]="true" (pageChange)=pageChanged()>

  </ngb-pagination>
</div>
