<table class="table paintTable">
  <thead class="paintTable-header">
    <tr class="paintTable-titles row">
      <th class="paintTable-title col-3">Category</th>
      <th class="paintTable-title col-6">Desciption</th>
      <th class="paintTable-title col-1">Quantity</th>
      <th class="paintTable-title col-1">Unit Cost</th>
      <th class="paintTable-title col-1">Total</th>
    </tr>
  </thead>
  <tbody class="paintTable-body" *ngFor="let area of data">
    <div *ngIf="area.items.length > 0">
      <tr class="row" style="background-color: dodgerblue;">
        <td class="col-3">{{area.name}}</td>
        <td class="col-3">{{area.description}}</td>
      </tr>
      <tr class="paintTable-items row" *ngFor="let item of area.items">
        <td class="paintTable-item col-3">{{item.category}} - {{item.sub}}</td>
        <td class="paintTable-item col-6">{{item.description}}</td>
        <td class="paintTable-item col-1">{{item.quantity}}</td>
        <td class="paintTable-item col-1">{{item.unitCost | currency}}</td>
        <td class="paintTable-item col-1">{{item.quantity * item.unitCost | currency}}</td>
      </tr>
    </div>
  </tbody>
</table>
