
<div class="jobs container col-12">
  <div>
    <div class="alert alert-warning jobs-alert" role="alert" *ngIf="errorReceived">
      Error requesting order list, please try later on
    </div>
    <article class="jobs-titles row">
      <section class="jobs-title col-4">Address</section>
      <section class="jobs-title col-2">City</section>
      <section class="jobs-title col-1">State</section>
      <section class="jobs-title col-1">zip</section>
      <section class="jobs-title col-2">Actions</section>
    </article>

    <article class="jobs-items row" *ngFor="let bid of data?.results">
      <section class="jobs-item col-4">{{bid.address}}</section>
      <section class="jobs-item col-2">{{bid.progjectManager}}</section>
      <section class="jobs-item col-1">{{job.state}}</section>
      <section class="jobs-item col-1">{{job.zip}}</section>
      <section class="jobs-item col-1">
        <a class="jobs-link" routerLink="/bids/details/{{bid.id}}">Detail</a>
      </section>
      <section class="jobs-item col-1">
        <a class="jobs-link" routerLink="/bids/edit/{{bid.id}}">Edit</a>
      </section>
    </article>
    <ngb-pagination  [(page)]="data.currentPage"
    [pageSize]="data.pageSize"
    [collectionSize]="data.rowCount"
    [maxSize]="5"
    [boundaryLinks]="true"
    (pageChange)=pageChange()>

    </ngb-pagination>
  </div>

</div>
