<div class="bids container col-12">
  <div>
    <article class="bids-titles row">
      <section class="bids-title col-3">Project Manager</section>
      <section class="bids-title col-3">Address</section>
      <section class="bids-title col-2">City</section>
      <section class="bids-title col-1">State</section>
      <section class="bids-title col-1">zip</section>
      <section class="bids-title col-1">Budget</section>
      <section class="bids-title col-1">Actions</section>
    </article>

    <article class="bids-items row" *ngFor="let bid of data?.results">
      <section class="bids-item col-3">{{bid.progjectManager}}</section>
      <section class="bids-item col-3">{{bid.address.line1}}</section>
      <section class="bids-item col-2">{{bid.address.city}}</section>
      <section class="bids-item col-1">{{bid.address.state}}</section>
      <section class="bids-item col-1">{{bid.address.zip}}</section>
      <section class="bids-item col-1">{{bid.renoTotal}}</section>
      <section class="bids-item col-1">
        <a class="bids-link" routerLink="/bids/details/{{bid.id}}">Detail</a>
        |
        <a class="bids-link" routerLink="/bids/edit/{{bid.id}}">Edit</a>
      </section>
    </article>
    <ngb-pagination [(page)]="data.currentPage" [pageSize]="data?.pageSize" [collectionSize]="data?.rowCount"
      [maxSize]="5" [boundaryLinks]="true" (pageChange)=pageChanged()>

    </ngb-pagination>
  </div>

</div>
